body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f3f3f3;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
  position: absolute;
  top: 30%;
  right: 15%;
  margin-right: 20px;
}

a:hover {
  color: #9ba4b5;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 24px;
}

nav {
  padding-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.logo img {
  margin-left: 20px;
  height: 5rem;
}

.btn {
  background-color: #e03c1e;
  color: #fff;
  border: 0;
  padding: 20px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  margin-right: 50px;
  cursor: pointer;
}

.btn:hover {
  background-color: #2079c2;
  color: #fff;
}

.container {
  margin-bottom: 5%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  width: 100%;
}

.swiper-slide img {
  margin-left: 10%;
  width: 80%;
  height: 60vh;
  border-radius: 5px;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 45%;
  color: #000;
  padding: 10px 18px;
  border-radius: 50%;
  font-size: 60px;
  font-weight: bolder;
}

.arrow:hover {
  color: #202a44;
  font-weight: bolder;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-pagination-bullet {
  font-size: 20px;
  color: #000;
}

h1 {
  text-align: center;
}

h2 {
  margin-left: 10%;
}

h3 {
  margin-left: 10%;
}

p {
  margin: 2% 10% 0% 10%;
}

.more {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
.caption {
  position: absolute;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px 0px;
  margin-bottom: 17%;
}
